

body{
    margin: 0;
    
}

header{
    background-color: rgb(29, 23, 23);
    
    padding: 5px;
    color:white;
    text-align: center;
}


.seccion1{
    background-color: rgb(47, 72, 21);
    color: white;
    width: 90%;
    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;



    padding: 10px;
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;

}

.seccion1:hover{
    background-color: cadetblue;
    color: white;
    transition: .2s ease-in-out;
}


button{
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 25px;
}